{% extends "base.html" %}

{% block content %}

<!-- HERO SECTION -->
<section class="hero">
    <div class="hero-content">
        <h1>Smart AI Disease Prediction</h1>
        <p>
            Analyze symptoms and get instant AI-powered medical insights 
            with confidence percentage.
        </p>

        <div class="hero-buttons">
           {% if current_user.is_authenticated %}

<a href="{{ url_for('dashboard') }}" class="btn-large">Start Analysis</a>

{% else %}

<a href="{{ url_for('dashboard') }}" class="btn-large">Start Analysis</a>
<a href="{{ url_for('register') }}" class="btn-outline">Create Account</a>

{% endif %}
        </div>
    </div>
</section>


<!-- FEATURES -->
<section class="features">

    <div class="feature-card">
        <h3>⚡ Instant Prediction</h3>
        <p>Fast and accurate AI medical results in seconds.</p>
    </div>

    <div class="feature-card">
        <h3>📊 Confidence Score</h3>
        <p>Clear probability percentage for better decisions.</p>
    </div>

    <div class="feature-card">
        <h3>🔐 Secure System</h3>
        <p>Your health data stays private and protected.</p>
    </div>

</section>


<!-- CTA SECTION -->
<section class="cta">
    <h2>Take Control of Your Health with AI</h2>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('dashboard') }}" class="btn-large">Get Started</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="btn-large">Get Started</a>
    {% endif %}
</section>


<!-- FOOTER -->
<footer class="footer">
    © 2026 MedAI | AI Healthcare System
</footer>


{% endblock %}
